<!DOCTYPE html>
<html>
<head>
  <title>Slip</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <center>
    <div class="frame">
      <img src="{{ url_for('get_slide', slidenumber='0') }}" height="540">
    </div>

    <div class="button">
      <table width="60%">
        <tr>
          <td class="left"><img class="back_button" src="images/back_button.png" height="30"></td>
          <td class="center">
            <img class="video_button" src="images/video_button.png" height="30">
            <img class="slide_button" src="images/slide_button.png" height="30">
          </td>
          <td class="right"><img class="next_button" src="images/next_button.png" height="30"></td>
        </tr>
      </table>
    </div>
  </center>

  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/templates.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
</body>
</html>
